[submodule "external/csapprox"]
	path = external/csapprox
	url = gh:godlygeek/csapprox.git
[submodule "external/detectindent"]
	path = external/detectindent
	url = gh:ciaranm/detectindent.git
[submodule "external/securemodelines"]
	path = external/securemodelines
	url = gh:ciaranm/securemodelines.git
[submodule "external/vim-speeddating"]
	path = external/vim-speeddating
	url = gh:tpope/vim-speeddating.git
[submodule "external/taglist"]
	path = external/taglist
	url = gh:esukram/taglist.vim.git
[submodule "external/vtreeexplorer"]
	path = external/vtreeexplorer
	url = gh:jk3us/vtreeexplorer.git
[submodule "external/snipmate.vim"]
	path = external/snipmate.vim
	url = gh:msanders/snipmate.vim.git
[submodule "external/autocomplpop.vim"]
	path = external/autocomplpop.vim
	url = gh:esukram/autocomplpop.vim.git
[submodule "external/vim-space"]
	path = external/vim-space
	url = gh:spiiph/vim-space.git
[submodule "external/windowlayout"]
	path = external/windowlayout
	url = gh:godlygeek/windowlayout.git
[submodule "external/syntastic"]
	path = external/syntastic
	url = gh:scrooloose/syntastic.git
