doc/tags

tags/
tmp/
undo/

*.html

viminfo

# vundle managed plugins
external/vundle

external/Arduino-syntax-file
external/ColorV
external/DotOutlineTree
external/Haskell-Conceal
external/MatchTag
external/NrrwRgn
external/RST-Tables
external/TaskList.vim
external/Toggle
external/ZoomWin
external/csv.vim
external/ctrlp.vim
external/delimitMate
external/detectindent
external/doctest-syntax
external/gitv
external/gsession.vim
external/gundo.vim
external/indentgenie.vim
external/inkpot
external/nerdcommenter
external/nerdtree
external/pydoc.vim
external/rainbow_parentheses.vim
external/regex
external/scratch-utility
external/securemodelines
external/snipmate-snippets
external/summerfruit.vim
external/supertab
external/syntastic
external/tabular
external/tagbar
external/textile.vim
external/tlib_vim
external/utl.vim
external/vim-addon-mw-utils
external/vim-bad-whitespace
external/vim-css-color
external/vim-cute-python
external/vim-editqf
external/vim-fastwordcompleter
external/vim-fugitive
external/vim-hier
external/vim-jnrowe
external/vim-makegreen
external/vim-orgmode
external/vim-powerline
external/vim-ragtag
external/vim-snipmate
external/vim-speeddating
external/vim-surround
external/vim-unimpaired
