[submodule "external/csapprox"]
	path = external/csapprox
	url = gh:godlygeek/csapprox.git
[submodule "external/detectindent"]
	path = external/detectindent
	url = gh:ciaranm/detectindent.git
[submodule "external/securemodelines"]
	path = external/securemodelines
	url = gh:ciaranm/securemodelines.git
[submodule "external/vim-speeddating"]
	path = external/vim-speeddating
	url = gh:tpope/vim-speeddating.git
