doc/tags
tags/*.ctags
tmp/*.swp
view/*.vim
README.html
viminfo

after/ftplugin/python/makerelease.py
after/ftplugin/python/pyflakes
after/ftplugin/python/pyflakes.vim
after/ftplugin/python/README.rst
after/plugin
autoload/acp.vim
autoload/csapprox
autoload/csapprox.vim
autoload/snipMate.vim
autoload/windowlayout.vim
colors/inkpot.vim
convertSnip.py
doc/CSApprox.txt
doc/NERD_commenter.txt
doc/NERD_tree.txt
doc/abolish.txt
doc/acp.jax
doc/acp.txt
doc/detectindent.txt
doc/fugitive.txt
doc/snipMate.txt
doc/space.txt
doc/surround.txt
doc/syntastic.txt
doc/taglist.txt
doc/vtreeexplorer.txt
ftplugin/html_snip_helper.vim
nerdtree_plugin
plugin/CSApprox.vim
plugin/NERD_commenter.vim
plugin/NERD_tree.vim
plugin/ZoomWin.vim
plugin/abolish.vim
plugin/acp.vim
plugin/detectindent.vim
plugin/fugitive.vim
plugin/gist.vim
plugin/gist.vim.vimup
plugin/securemodelines.vim
plugin/snipMate.vim
plugin/space.vim
plugin/speeddating.vim
plugin/surround.vim
plugin/syntastic.vim
plugin/taglist.vim
plugin/vtreeexplorer.vim
syntax/snippet.vim
syntax_checkers
