[submodule "external/detectindent"]
	path = external/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule "external/securemodelines"]
	path = external/securemodelines
	url = git://github.com/ciaranm/securemodelines.git
[submodule "external/vim-speeddating"]
	path = external/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "external/vim-space"]
	path = external/vim-space
	url = git://github.com/spiiph/vim-space.git
[submodule "external/windowlayout"]
	path = external/windowlayout
	url = git://github.com/godlygeek/windowlayout.git
[submodule "external/syntastic"]
	path = external/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "external/vim-fugitive"]
	path = external/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "external/vim-surround"]
	path = external/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "external/nerdtree"]
	path = external/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "external/nerdcommenter"]
	path = external/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "external/inkpot"]
	path = external/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "external/vim-ragtag"]
	path = external/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "external/vim-jnrowe"]
	path = external/vim-jnrowe
	url = git://github.com/JNRowe/vim-jnrowe.git
[submodule "external/vim-unimpaired"]
	path = external/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "external/snipmate.vim"]
	path = external/snipmate.vim
	url = git://github.com/JNRowe/snipmate.vim.git
[submodule "external/textile.vim"]
	path = external/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "external/gsession.vim"]
	path = external/gsession.vim
	url = git://github.com/c9s/gsession.vim.git
[submodule "external/supertab"]
	path = external/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "external/gundo.vim"]
	path = external/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "external/vim-cute-python"]
	path = external/vim-cute-python
	url = git://github.com/ehamberg/vim-cute-python.git
[submodule "external/Haskell-Conceal"]
	path = external/Haskell-Conceal
	url = git://github.com/vim-scripts/Haskell-Conceal.git
[submodule "external/summerfruit.vim"]
	path = external/summerfruit.vim
	url = git://github.com/vim-scripts/summerfruit.vim.git
[submodule "external/pylint.vim"]
	path = external/pylint.vim
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule "external/indentgenie.vim"]
	path = external/indentgenie.vim
	url = git://github.com/vim-scripts/indentgenie.vim.git
[submodule "external/AutoClose"]
	path = external/AutoClose
	url = git://github.com/vim-scripts/AutoClose--Alves.git
[submodule "external/capslock.vim"]
	path = external/capslock.vim
	url = git://github.com/vim-scripts/capslock.vim.git
[submodule "external/DotOutlineTree"]
	path = external/DotOutlineTree
	url = git://github.com/vim-scripts/DotOutlineTree.git
[submodule "external/scratch-utility"]
	path = external/scratch-utility
	url = git://github.com/vim-scripts/scratch-utility.git
[submodule "external/TaskList.vim"]
	path = external/TaskList.vim
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "external/Toggle"]
	path = external/Toggle
	url = git://github.com/vim-scripts/Toggle.git
[submodule "external/Arduino-syntax-file"]
	path = external/Arduino-syntax-file
	url = git://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "external/doctest-syntax"]
	path = external/doctest-syntax
	url = git://github.com/vim-scripts/doctest-syntax.git
[submodule "external/vim-orgmode"]
	path = external/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
